.title {
  color: #044ea4;
  margin: 0;
  line-height: 1;
  font-size: 3rem;
}
.text {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1rem;
  text-align: justify;
}
.text b {
  color: #044ea4;
}
.text h3 {
  color: #044ea4;
}
